/* CSS file print.css for Disgen08, issuedate=200222 */


@page {
	width: 210mm;
	height:297mm;
}

body {
	margin-left: 1em;
	margin-right: 1em;
	font-size: 12pt;
	font-variant: normal;
	font-style: normal;
	font-family: serif;
	color: #000000;
}

#trunk_f {
	margin: 0;
	padding: 1%;
}

#trunk {
	margin: 0;
	padding: 15px 4% 20px 4%;
}

#head {
	margin: 0;
	max-width: 100%;
}

H1 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: sans-serif;
	font-size: 200%;
	font-weight: Lighter;
	text-align: left; 
	width: 100%;
}

.index {
	font-size: 140%;
}

H2 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: sans-serif;
	font-size: 140%;
	font-weight: normal;
	text-align: left;
}

H3 {
	margin-top: 0;
	font-family: sans-serif;
	font-size: 120%;
	font-weight: normal;
	text-align: left;
}

H4 {
	margin-top: 2ex;
	font-family: sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: left;
}

H5 {
	font-size: 85%;
	font-weight: bold;
	text-align: left;
	border-top: 1px solid #305059;
	margin: 2ex 0 0 2%;
	padding: 1ex 0 1ex 0;
}

p {}

p.indexlista {
	display: none;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
	background-color: #006666; 
	padding: 10px 4% 10px 4%;
	margin: 0;
	max-width: 100%;
}

p.sidfot {
	text-align: center;
	font-style: italic;
}
p.version {
	text-align: center;
	font-style: italic;
	color: #000000;
	background-color: #F1F1F1; 
	padding: 10px 0 10px 0;
	margin: 0;
	width: 100%;
}

.center {
	text-align: center;
}

p.ortnamn {
	margin: 2ex 0 0 0;
	padding: 0 0 0 2em;
	font-weight: normal;
}

p.ortperson {
	margin: 0;
	padding: 0 0 0 3em;
	font-weight: normal;
}

p.personreg {
	margin-left: 2%;
	margin-right: 2%;
	font-weight: normal;
}

p.efternamnsreg {
	margin-right: 2%;
	font-weight: normal;
}

p.partner {
	margin: 0;
	font-weight: normal;
}

p.gifte {
	margin: 0 0 0 0;
	font-weight: normal;
}

p.barn {
	margin: 0 0 0 0;
	font-weight: normal;
}

p.multimediarubrik {
	font-size: 100%;
	font-weight: bold;
	color: #000000;
	text-align: left; 
	width: 100%;
	margin: 15px 0 0 0;
	padding-top: 10px;
	border-top: 1px ridge;
}

p.multimedia {
	border-top: thin groove #000000;
	padding-top: 2ex;
	font-weight: normal;
	text-align: center;
}

p.fotnot, p.kella {
	border-top: thin groove #000000;
}

li.fotnot, li.kella {
	margin: 0 0 0 2%;
	font-size: 90%;
	font-weight: normal;
	text-align: left;
}

em {}

em.tn {
	font-style: normal; 
	text-decoration: underline;
}

em.en {
	font-style: normal;
}

.ffmm {
	text-transform: lowercase;
	font-style: normal;
	font-weight: bold;
}

.fotnot, .kellanr {
	font-size: 0.83em;
	vertical-align: super;
	font-size: 80%;
	font-weight: normal;
	font-style: normal;
	line-height: 0;
}

strong.person {}

strong.gifte, strong.barn {
	font-weight: normal;
}

div.ansedel {
	margin-right: 2%;
	margin-left: 2%;
}

div.person {
	font-size: 120%;
	font-weight: normal;
	padding-bottom: 1.5ex;
}

div.notis {
	text-align: justify;
	font-weight: normal;
	margin: 0 0 0 4%;
} 

div.giften {
	text-align: justify;
	font-weight: normal;
	margin: 0 0 0 0;
}

table {
	font-size: 100%;
	font-variant: normal;
	font-style: normal;
}

table.antavla {
	table-layout: fixed;
	text-align: left;
	vertical-align: middle;
	margin-left: 2%;
	width: 96%;
}

table.stamtavla {
	vertical-align: middle;
	margin-left: 4%;
	width: 92%;
	border: thin solid #000000;
}

table.portrett {
	margin-top: 1ex;
}

table.gifte {
	border: none;
}

table.portrett_sida {
	margin-right: 4%;
	margin-top: 1ex;
}

.NBTBL {
	margin-left: auto; 
	margin-right: auto;
	width: 96%;
	border: none;
	text-align: left;
}

tr, td, th {
	padding: 0.5ex 0.5em 0.5ex 0.5em;
	font-variant: normal;
	font-style: normal;
}

td.proband, td.f, td.m, td.ff, td.fm, td.mf, td.mm {
	font-size: 85%;
	padding-left: 2%;
	padding-right: 2%;
	border: thin solid #000000;
}

td.fff, td.ffm, td.fmf, td.fmm, td.mff, td.mfm, td.mmf, td.mmm, td.ffff, td.fffm, td.ffmf, td.ffmm, td.fmff, td.fmfm, td.fmmf, td.fmmm, td.mfff, td.mffm, td.mfmf, td.mfmm, td.mmff, td.mmfm, td.mmmf, td.mmmm {
	font-size: 75%;
	padding-left: 2%;
	padding-right: 2%;
	border: thin solid #000000;
}

td.person_0, td.person_1, td.person_2, td.person_3, td.person_4 {
	font-size: 85%; 
	padding-left: 1%;
	padding-right: 1%;
	text-align: left;
	border: thin solid #000000;
}

td.portrett {}

td.bildtext {
	padding-left: 1%;
	padding-right: 1%;
	text-align: center;
	font-style: italic;
	width: inherit;
}

td.gen {
	width: 3%;
	text-align: center;
}

td.gen_rub {
	text-align: center;
}

td.arrow {
	display: none;
}

#EndOfPage {
	line-height: 0;
	height: 0;
}

img.arrow, img.tavla, img.ansedel {
	display: none;
	border: none;
	float: none;
}

img.genarrow {
	display: none;
	border: 0;
	HEIGHT: 12px;
	WIDTH: 12px;
}

img.stamportrett {
	border: none;
	width: 16%;
	margin-left: 42%;
	page-break-inside: avoid;
}

img.antavelportrett {
	border: none;
	display: block;
	width: 80%;
	margin: auto;
	page-break-inside: avoid;
}

img.litetportrett_1gen_S {
	border: none;
	display: block;
	max-width: 30%;
	margin: auto;
	max-height: 200px;
	padding: 0 0 15px 0;
}

img.litetportrett_2gen_S {
	border: none;
	display: block;
	max-width: 40%;
	margin: auto;
	max-height: 200px;
	padding: 0 0 15px 0;
}

img.litetportrett_3gen_S {
	border: none;
	display: block;
	max-width: 50%;
	margin: auto;
	max-height: 200px;
	padding: 0 0 15px 0;
}

img.litetportrett_4gen_S {
	border: none;
	display: block;
	max-width: 60%;
	margin: auto;
	max-height: 200px;
	padding: 0 0 15px 0;
}

img.litetportrett_1gen_M {
	border: none;
	display: block;
	max-width: 40%;
	margin: auto;
	max-height: 250px;
	padding: 0 0 15px 0;
}

img.litetportrett_2gen_M {
	border: none;
	display: block;
	max-width: 50%;
	margin: auto;
	max-height: 250px;
	padding: 0 0 15px 0;
}

img.litetportrett_3gen_M {
	border: none;
	display: block;
	max-width: 60%;
	margin: auto;
	max-height: 250px;
	padding: 0 0 15px 0;
}

img.litetportrett_4gen_M {
	border: none;
	display: block;
	max-width: 70%;
	margin: auto;
	max-height: 250px;
	padding: 0 0 15px 0;
}

img.litetportrett_1gen_L {
	border: none;
	display: block;
	max-width: 50%;
	margin: auto;
	max-height: 300px;
	padding: 0 0 15px 0;
}

img.litetportrett_2gen_L {
	border: none;
	display: block;
	max-width: 60%;
	margin: auto;
	max-height: 300px;
	padding: 0 0 15px 0;
}

img.litetportrett_3gen_L {
	border: none;
	display: block;
	max-width: 70%;
	margin: auto;
	max-height: 300px;
	padding: 0 0 15px 0;
}

img.litetportrett_4gen_L {
	border: none;
	display: block;
	max-width: 80%;
	margin: auto;
	max-height: 300px;
	padding: 0 0 15px 0;
}

img.ansedelportrett_1gen_S {
	border: none;
	display: block;
	float: right;
	max-width: 30%;
	margin: auto;
	max-height: 200px;
}

img.ansedelportrett_2gen_S {
	border: none;
	display: block;
	float: right;
	max-width: 40%;
	margin: auto;
	max-height: 200px;
}

img.ansedelportrett_3gen_S {
	border: none;
	display: block;
	float: right;
	max-width: 50%;
	margin: auto;
	max-height: 200px;
}

img.ansedelportrett_4gen_S {
	border: none;
	display: block;
	float: right;
	max-width: 60%;
	margin: auto;
	max-height: 200px;
}

img.ansedelportrett_1gen_M {
	border: none;
	display: block;
	float: right;
	max-width: 40%;
	margin: auto;
	max-height: 250px;
}

img.ansedelportrett_2gen_M {
	border: none;
	display: block;
	float: right;
	max-width: 50%;
	margin: auto;
	max-height: 250px;
}

img.ansedelportrett_3gen_M {
	border: none;
	display: block;
	float: right;
	max-width: 60%;
	margin: auto;
	max-height: 250px;
}

img.ansedelportrett_4gen_M {
	border: none;
	display: block;
	float: right;
	max-width: 70%;
	margin: auto;
	max-height: 250px;
}

img.ansedelportrett_1gen_L {
	border: none;
	display: block;
	float: right;
	max-width: 50%;
	margin: auto;
	max-height: 300px;
}

img.ansedelportrett_2gen_L {
	border: none;
	display: block;
	float: right;
	max-width: 60%;
	margin: auto;
	max-height: 300px;
}

img.ansedelportrett_3gen_L {
	border: none;
	display: block;
	float: right;
	max-width: 70%;
	margin: auto;
	max-height: 300px;
}

img.ansedelportrett_4gen_L {
	border: none;
	display: block;
	float: right;
	max-width: 80%;
	margin: auto;
	max-height: 300px;
}

img.stamportrett_S {
	float: right;
	border: none;
	display: block;
	max-width: 20%;
	margin: auto;
	max-height: 100px;
	page-break-inside: avoid;
}

img.stamportrett_M {
	border: none;
	display: block;
	max-width: 25%;
	margin: auto;
	max-height: 150px;
	page-break-inside: avoid;
}

img.stamportrett_L {
	border: none;
	display: block;
	max-width: 30%;
	margin: auto;
	max-height: 200px;
	page-break-inside: avoid;
}

img.startbild {
	border: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 90%;
	max-width: 70%;
	page-break-inside: avoid;
}

A:link {color: #000000; text-decoration: none;}

.table4gen {
	width: 20%;
	text-align: left;
	padding: 10px;
	border: 1px ridge;
	background: #FFFFFF;
	color: #000000;
}

.table4sgen {
	width: 20%;
	text-align: left;
	font-size: 90%;
	padding: 10px;
	border: 1px ridge;
	background: #FFFFFF;
	color: #000000;
}

.table3gen {
	text-align: left;
	width: 25%;
	padding: 10px;
	border: 1px ridge;
	background: #FFFFFF;
	color: #000000;
}

.table3sgen {
	text-align: left;
	font-size: 90%;
	width: 25%;
	padding: 10px;
	border: 1px ridge;
	background: #FFFFFF;
	color: #000000;
}

.table2gen {
	width: 33%;
	text-align: left;
	padding: 10px;
	border: 1px ridge;
	background: #FFFFFF;
	color: #000000;
}

.table2sgen {
	width: 33%;
	text-align: left;
	font-size: 90%;
	padding: 10px; 
	border: 1px ridge;
	background: #FFFFFF;
	color: #000000;
}

.table1gen {
	width: 50%;
	text-align: left;
	padding: 10px;
	border: 1px ridge;
	background: #FFFFFF;
	color: #000000;
}

.GMap {
	width: 96%;
	height: 600px;
	display: block;
	margin: 15px auto 15px auto;
	page-break-inside: avoid;
}
	
img.placepic {
	border: none;
	display: block;
	max-width: 50%;
	max-height: 300px;
	margin: 15px auto 20px auto;
	page-break-inside: avoid;
}

img.overlaypic {
	max-width: 96%;
	border: none;
	display: block;
	margin: 15px auto 15px auto;
	page-break-inside: avoid;
}

.ortsrubrik {
	padding: 0;
	font-size: 130%;
	font-weight: normal;
	color: #000000;
	text-align: left; 
	max-width: 100%;
	margin: 0 0 2px 15px;
}

.ortstext{
	max-width: 96%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-size: 100%;
}

.FaktaTBL {
	border-style: none;
	border-spacing: 10px;
	width: 90%;
	margin-left: 1%;
	text-align: left;
	font-size: 100%;
}

.FaktaTR {
	border-style: none;
	border-collapse: collapse;
	text-align: left;
}

.FaktaRubrik {
	border-style: none;
	border-collapse: collapse;
	text-align: left;
	width: 35%;
}

.FaktaVarde {
	border-style: none;
	border-collapse: collapse;
	text-align: left;
	width: 65%;
}

.linktext {
 	margin: 0 0 25px 2%; 
}

.video {
	border: none;
	display: block;
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-size: 100%;
}

.audio {
	border: none;
	display: block;
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-size: 100%;
}

.videotext, .audiotext {
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-size: 90%;
	font-style: italic;
	text-align: center;
}

table.statistik, tr.statistik, td.statistik, th.statistik {
	max-width: 96%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	margin-bottom: 20px;
	font-size: 110%;
	padding: 6px;
}

img.statistik {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	margin-bottom: 20px;
	font-size: 100%;
}

p.statistik {
	text-align: center;
	font-size: 80%;
	font-variant: normal;
	font-style: normal;
	font-weight: normal;
	color: black;
	margin-bottom: 20px;
}

.nav {
	display: none;
}

.nav li {
	display: none;
}